body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 19%;
  flex-direction: column;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}
