.footer {
  display: flex;
  justify-content: center;

  &-copyright {
    color: var(--secondary-text-color);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 600px) {
  .footer-copyright {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
